main{
  min-width: 1280px;
  background-color: #f5f5f5;
}
/*===================================*/
/*#product-banner*/
#product-banner{
  width: 100%; height: 680px; 
  margin-top: 80px;

  background-color: #272727;
}
#product-banner .banner h1{
  margin-bottom:63px;
  padding-top:60px;
  color: #f1f1f1;
  font: 600 50px/1.3 "Noto Serif KR";
}
#product-banner .banner img{
  width: 100%; height: 346px;
  border-radius: 20px;;
  object-fit: cover;
}
/*===================================*/
/*#product-menu*/
#product-menu{
  width: 100%; height: 80px;
}
#product-menu .gnb{
  width: 100%; height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #A6A6A6;
}
#product-menu .gnb ul.menu{
  width: 840px;
  display: flex;
  justify-content: space-around;
}
#product-menu .gnb ul.menu li{
  position: relative;
  width: 100%; height: 100%;
  text-align: center;
  color: #736D66;
  font-size:20px;
  font-weight: 500;
}
#product-menu .gnb ul.menu li.active{
  color:#2B231A;
  font-weight: bold;

}
#product-menu .gnb ul.menu li.active::after{
  content: "";
  position: absolute;
  top:-5px; left: 50%;
  transform: translateX(-50%);
  width: 5px; height: 5px;
  border-radius: 50%;
  background-color: #2B231A;
}
#product-menu .gnb ul.menu li a{
  padding:20px 20% ;
}
#product-menu .gnb ul.menu li a:hover {
  color:#2B231A;
}

#product-menu .gnb form.search {
  position: relative;
  display: flex;
  align-items: center;
}
#product-menu .gnb form.search input{
  width: 260px; height: 50px;
  border-radius: 60px;
  border:1px solid #a5a5a5;
  text-indent:21px;
}
#product-menu .gnb form.search input::placeholder{
  color:#a5a5a5;
  font-size:16px;
}
#product-menu .gnb form.search button{
  position: absolute;
  top:0; right: 5px;
}
/*===================================*/
/*#product-info-list*/
#product-info-list{
  width: 100%; height: 920px;
}
#product-info-list .product-list{
  width: 100%; height: auto;
  display: flex;
  flex-wrap: wrap;
  gap:24px 50px;
}
#product-info-list .product-list .product-item{
  position: relative;
  text-align: center;
}
#product-info-list .product-list .product-item .overlay{
  position: absolute;
  width: 262px; height: 397px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  gap:5px;
  opacity: 0;

  transition: .3s;
}
#product-info-list .product-list .product-item:hover .overlay{
  opacity: 1;
}
#product-info-list .product-list .product-item .overlay .overlay-view{
  width: fit-content; height: fit-content;
  position: absolute;
  left:50%; bottom:148px;
  transform: translateX(-50%);
}
#product-info-list .product-list .product-item .thumb{
  width: 262px; height: 397px;
  background: linear-gradient(0deg,#fefefe,#fefefe00);
  border-radius: 20px;
  object-fit: cover;
  overflow: hidden;
}
#product-info-list .product-list .product-item h3{
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 3px;
}
#product-info-list .product-list .product-item p{
  font-size: 16px;
  color:#736D66;
}